node_modules
.DS_Store
dist
dist-ssr
*.local

# Added by cargo

/target
.env

# yarn v2
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*.db
*-shm
*-wal
/content

# Added by cargo
#
# already existing elements were commented out

#/target

gen